body {
  background: url('html - personal site/images/eudaimonia.jpg') no-repeat;
  background-size: cover;
}

.w3-justify{
	font-family: Georgia, serif;
	font-size: 15px;
	letter-spacing: 2px;
	word-spacing: 2px;
	color: white;
	font-weight: 200;	
	font-style: normal;
	font-variant: normal;
}